[submodule "thirdparty/gtest"]
	path = thirdparty/gtest
	url = https://github.com/google/googletest.git
[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "thirdparty/convhull_3d"]
	path = thirdparty/convhull_3d
	url = https://github.com/leomccormack/convhull_3d.git
[submodule "thirdparty/rapidjson"]
	path = thirdparty/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "thirdparty/nlohmann"]
	path = thirdparty/nlohmann
	url = https://github.com/nlohmann/json.git
[submodule "thirdparty/xxHash"]
	path = thirdparty/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "thirdparty/CImg"]
	path = thirdparty/CImg
	url = https://github.com/abbaswasim/CImg
[submodule "thirdparty/cgltf"]
	path = thirdparty/cgltf
	url = https://github.com/jkuhlmann/cgltf.git
[submodule "thirdparty/CTPL"]
	path = thirdparty/CTPL
	url = https://github.com/vit-vit/CTPL.git
[submodule "thirdparty/basis_universal"]
	path = thirdparty/basis_universal
	url = https://github.com/BinomialLLC/basis_universal.git
[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "thirdparty/vulkan"]
	path = thirdparty/vulkan
	url = https://github.com/KhronosGroup/Vulkan-Headers
