build
build-metal-release
build-metal-debug
build-vulkan-release
build-vulkan-debug
xcode-project
build-xcode
*.log
log/*.log
logs/*.log
.clangd
.DS_Store
.dir-locals.el
.projectile
.ycm_extra_conf.py
.ycm_extra_conf.py.back
.ycm_test_conf.py
compile_commands.json
xcodebuild
tools
.cache
.simple-debug.el
roar_test_project
_thirdparty-software
compile_flags_back.txt
gltf2_shader/
gltf_samples_shaders/
temp/
ycm_extra_conf.template
.simple-debug.json